@model IEnumerable<Category>
@{
    ViewData["Title"] = "List";
    Layout = "_AdminLayout";
}


<div class="container mt-3">
    <h2>Category List</h2>   
    <hr />
    <a asp-controller="Category" asp-action="AddOrUpdate" class="btn btn-primary">Create</a>
    <hr />
    <div class="row">
        <div class="col">
            @if (Model.Count() > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Blog Count</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.Name</td>
                                <td>@item.Blogs.Count()</td>
                                <td>
                                    <a asp-controller="Category" asp-action="AddOrUpdate" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm">Details</a>
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Kategori Eklenmemiş.
                </div>
            }
        
        </div>
    </div>
</div>